<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>

<div>
    <ul>
        <li><a href="http://localhost:8000/">Accueil</a></li>
        <li>Ventes</li>
        <li>Neufs</li>
        <li>Ultra Luxe</li>
        <li>Ultra Luxe</li>
        <li><a href="http://localhost:8000/agence/index">Nos Agences</a></li>
        <li>Contact</li>
    </ul>
<div>
{% block content %}{% endblock %}
<div>
    <h2>Footer</h2>
</div>
{% block javascript %}{% endblock %}
</body>
</html>


