{% extends 'layout.html.twig' %}

{% block content %}
<<<<<<< HEAD
    <h1>Contact</h1>
    {% include 'Item/_form.html.twig' %}
=======
    <h1>Add a new contact</h1>
    {% include 'Contact/_form.html.twig' %}
>>>>>>> 8b5356d6d34e16614841c3640a72f17f28381c2d
{% endblock %}
